parameters:
  level: 8
  paths:
    - src

  excludePaths:
    - vendor
    - tests

  reportUnmatchedIgnoredErrors: false

  ignoreErrors:
   - '#Variable property access on object#'
   - '#Anonymous function should have native return type#'
   - identifier: missingType.iterableValue

  phpstanFunctionalProgramming:
    disallowThrow: false
